@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  transition: all 1.5s ease-in-out;
  /* overflow: hidden; */
}

.active {
  color: #b1304f;
  /* border-bottom: 3px solid #b1304f; */
}

/* Add these styles to your global CSS file */

input[type="radio"] {
  accent-color: black;
}

 .test {
    position: absolute;
    z-index: 999;
  }

@media (min-width: 768px) {
  .test {
  position: unset;
  transform: translateY(0);
}
.active {
  color: #b1304f;
  border-bottom: 3px solid #b1304f;
}
}

.ts {
  transform: translate(-50%, -50%);
}
